<section class='card_layout'>
  <div class='card_container'>
      <img alt='This is an image' src='<%=@user.photo%>' class='user_image'/>
      <div class='user-info'>
        <p><%= link_to @user.name, @user, class: 'user_name' %></p>
        <p>Number of posts: <%= @user.posts_counter%></p>
      </div>
    </div>
</section>
<section class='bio_container'>
  <article class='bio'>
    <p>Bio:</p>
    <p><%=@user.bio%></p>
  </article>
</section>