<section class='card_container'>
  <% @users.each do |user| %>
    <img alt='This is an image' src='<%=user.photo%>' class='user_image'/>
    <p><%= link_to user.name, user, class: 'user-name' %></p>
    <p>Number of posts: <%= user.posts_counter%></p>
  <% end %>
</section>
