<h1>Users list</h1>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><img alt='This is an image'/></td>
        <td><%= link_to user.name, user, class: 'user-name' %></td>
        <td>Number of posts: <%= user.posts_counter%>
      </tr>
    <% end %>
  </tbody>
</table>
