.user-name {
  color: red;
  
  &:hover {
    color: darken($color: red, $amount: 20);
  }
}

.all-posts-of-user {
  padding: 10px 20px;
}

.card_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.user_image {
  width: 100px;
  border-radius: 15%;
}
